<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="EN">
<head>
    <title>Users</title>

</head>
<body>
    <div layout:fragment="content" class="container-fluid">
        <h1>User List</h1>
        <a th:href="@{/users/create}" class="m-2 btn btn-outline-info">Create</a>
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">User Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Role</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="user : ${users}">
                    <th th:text="${user.id}"></th>
                    <td th:text="${user.userName}">Mark</td>
                    <td th:text="${user.email}">Otto</td>
                    <td th:text="${user.role}">@mdo</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a th:href="@{'/users/'+ ${user.id} }" class="btn btn-outline-secondary">View</a>
                            <a th:href="@{'/users/'+ ${user.id} + '/update'}" class="btn btn-outline-warning">Update</a>
                            <a th:href="@{'/users/'+ ${user.id} + '/delete'}" class="btn btn-outline-danger">Delete</a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <a class="link-danger" th:href="@{/home}">Go Back To Home</a>
    </div>
</body>
</html>